h1,h4{
    text-align: center;
    font-size: 1.2em;
    margin-top:5px;
}

.home_section{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    gap:10px;
    padding: 10px 14px;
}

.office img{
    height:300px;
    width:300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin:10px;
}
.news{
text-align: justify;
}

.news h1,p{
    margin-top:40px;
}

.inbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:300px;
    width:200px;
    background-color: #535c68;
    border-radius: 20px;
    padding: 10px 5px;
}

.inbox h1{
   font-size:1em;
}
.inbox button{
    padding:5px 9px;
    outline: none;
    border: none;
    background-color: #3498db;
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
}


.items ul li{
    list-style: none;
    font-weight: bold;
  
}

.populartags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .populartags button{
    padding: 7px 7px;
    border-radius: 34px;
    outline: none;
    border: none;
    background-color: #3498db;
    margin:5px;
  }

  /* For mobile devices  */


  @media (max-width: 576px) {
    h1,h4{
        text-align: center;
        font-size:0.90em;
        margin: 13px;
    }
    
    .home_section{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items: center;
        gap:20px;
        padding: 10px 14px;
    }
    
    .office img{
        height:300px;
        width:300px;
        border-radius: 12px;
        display: flex;
        flex-direction:column;
        margin:7px;
    }
    .news{
    text-align: justify;
    }
    
    .news h1,p{
        margin-top:10px;
        font-size: 0.90em;
        
    }
    
    .inbox{
        display: flex;
        flex-direction: column;
        height:300px;
        width:300px;
        background-color: #535c68;
        border-radius: 20px;
        padding:5px 5px;
        margin-left:20px;
        align-items: center;
      
    }
    
    .inbox h1{
       font-size:1.1em;
    }
    .inbox button{
        padding:5px 9px;
        outline: none;
        border: none;
        background-color: #3498db;
        border-radius: 12px;
        font-size: 1em;
        cursor: pointer;
    }
    
    .items{
        text-align: center;
    }
    .items ul li{
        list-style: none;
        font-weight: bold;
        align-items:center;
        margin: 10px 70px;
      
    }

    .items h1{
        text-align: center;
        font-size: 1.4em;
    }
    
    .populartags{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
      }


      .populartags h1{
    font-size: 1.4em;
      }

    
      .populartags button{
        padding:3px 3px;
        border-radius: 34px;
        outline: none;
        border: none;
        background-color: #3498db;
        margin:2px;
        cursor: pointer;
      }
    


   
}



 