*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.darkmode{
  background-color:#2d3436;
  color: white;
  height:auto;
  width: 100%;
}


.lightmode{
  background-color: #ecf0f1;
  color: black;
  height:auto;
  width: 100%;
}